.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal-content {
  width: 600px;
  max-width: 100%;
  height: auto; 
  max-height: 80vh; 
  overflow-y: auto; 
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-description {
  margin-top: 20px;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 10; 
  -webkit-box-orient: vertical;
}

.close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 24px;
  color: #ff0000;
  cursor: pointer;
}

.year-badge {
  width: fit-content;
  padding: 8px;
  background-color: rgb(30, 21, 70) ;
  color: white;
  border-radius: 8px;
}

.book-info {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}

.book-icon {
  color: #ff4500;
  font-size: 20px;
}

.modal-description {
  margin-top: 20px;
}
