.container {
  padding: 16px;
}

.heading {
  font-size: 24px;
  margin: 16px 0;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(30, 21, 70);
  border-radius: 12px;
  width: 600px;
  padding: 16px;
  margin: 0 auto;
}

.form-input {
  margin: 8px 0;
}

.form-label {
  font-size: 16px;
  margin-right: 16px;
  color: #808080;
}

.form-field {
  border: 2px solid #808080;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
}

/* .save-button {
  background-color: rgb(30, 21, 70);
  color: #ffffff;
  padding: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
} */
